.mynavbar {
    text-align: center;
}
.mynavbar .nav {
    float:none;
}
.mynavbar .nav li {
    display:inline-block;
    float:none;
}
#navigation {
    border-bottom: 1px solid black;
}
.right-col {
    height: 200px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}
